/deep_learning/assignments/notMNIST_large.tar.gz
/deep_learning/assignments/notMNIST_small
/deep_learning/assignments/notMNIST_small.tar.gz
/deep_learning/assignments/notMNIST.pickle
/deep_learning/assignments/notMNIST_large
